*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a:active,
a:hover,
a:visited,
a {
  color: #000;
}

html {
  font-family: Grandstander, Sans-serif, Arial;
  font-weight: 500;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.selection::selection {
  color: var(--background-color1, #fff);
  background-color: var(--highlight-color, #f6af44);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

:root {
  --text-color: #000;
  --color-blue: #45a5ff;
  --background-color1: #fff;
  --background-color2: #c1c1c1;
  --background-color3: #efefef;
  --border-color1: #7e7e7e;
  --border-color2: #dcdcdc;
  --border-width1: 1px;
  --border-width2: 2px;
  --highlight-color: #f6af44;
  --font-size1: 32px;
  --font-size2: 20px;
  --header-height: 65px;
  --aside-width-regular: 250px;
  --aside-width-light: 80px;
  --transition-duration1: 0.3s;
  --font-size-normal: 20px;
  --font-size-large: 32px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--background-color1, #fff);
  z-index: 1;
}

.icon {
  transition-property: color, background-color;
  transition-duration: var(--transition-duration1, 0.25s);
  transition-timing-function: ease-out;
  cursor: pointer;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 5px 1px rgba(158, 158, 158, 0.4);
  padding: 10px 15px 10px 15px;
}

.header-logo {
  font-size: 2.5rem;
  color: var(--highlight-color, #f6af44);
  float: left;
  cursor: pointer;
}
.header-logo .icon {
  font-size: calc(2.5rem - 25%);
  transform: translateY(-0.25rem);
}

.header-search {
  display: flex;
  align-items: center;
  position: absolute;
  left: 32%;
  right: 32%;
}
.header-search .header-search__bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.header-search .header-search__bar input {
  height: var(--font-size1, 32px);
  font-size: 1em;
  border: var(--border-width1, 2px) solid var(--border-color2, #dcdcdc);
  border-radius: 3px 0 0 3px;
  outline: none;
  width: 100%;
  z-index: 2;
  transition-property: box-shadow, border;
  transition-duration: var(--transition-duration1, 0.25s);
  transition-timing-function: ease-out;
}
.header-search .header-search__bar input:focus {
  box-shadow: 0px 0px 2px 1px var(--color-blue, #45a5ff);
  border-color: #3f91fd;
}
.header-search .header-search--glass {
  width: var(--font-size1, 32px);
  height: var(--font-size1, 32px);
  background-color: var(--background-color3, #efefef);
  border: var(--border-width1, 2px) solid var(--border-color2, #dcdcdc);
  border-radius: 0px 3px 3px 0px;
  position: relative;
  border-left: none;
}
.header-search .header-search--glass:hover {
  background-color: var(--border-color2, #dcdcdc);
}
.header-search .header-search--glass i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.header-search .header-search--micro {
  color: var(--background-color2, #c1c1c1);
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.header-search .header-search--micro:hover {
  color: var(--border-color1, #7e7e7e);
}

.header-menu {
  font-size: 1.5rem;
  color: var(--background-color2, #c1c1c1);
  display: flex;
  align-items: center;
  float: right;
}
.header-menu .header-menu__bell:hover {
  color: var(--border-color1, #7e7e7e);
}
.header-menu .header-menu__paw {
  color: var(--text-color, #000);
  font-size: 1rem;
  margin-left: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--highlight-color, #f6af44);
  border-radius: 50%;
  position: relative;
}
.header-menu .header-menu__paw > i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.header-menu .header-menu__paw:hover {
  background-color: var(--background-color3, #efefef);
}
.header-menu .header-menu__paw:hover > .dropdown {
  left: -225%;
}

.dropdown {
  background-color: var(--background-color1, #fff);
  list-style: none;
  border: var(--border-width2, 2px) solid var(--border-color2, #dcdcdc);
  border-radius: 5px;
  width: 150px;
  font-size: 1rem;
  display: block;
  position: absolute;
  top: 110%;
  left: 140%;
  transition: all 0.25s ease-out;
  transition-delay: 0.25s;
}
.dropdown i {
  padding: 8px 10px 8px 20px;
}
.dropdown li {
  width: 100%;
  transition: background-color var(--transition-duration1, 0.25s) ease-out;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: var(--border-color2, #dcdcdc);
}
.dropdown li:last-child {
  border-top: var(--border-width2, 2px) solid var(--border-color2, #dcdcdc);
  color: red;
}

.aside {
  float: left;
  height: calc(100% - var(--header-height, 65px));
  width: var(--aside-width-regular, 230px);
  background-color: var(--background-color3, #efefef);
  position: fixed;
}

.streamers {
  height: calc(100% - 130px);
  border-bottom: 1px solid var(--background-color1, #fff);
  font-size: var(--font-size-normal, 20px);
  overflow-y: auto;
}
.streamers__streamer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  transition: background-color var(--transition-duration1, 0.25s) ease-out;
}
.streamers__streamer:hover {
  cursor: pointer;
  background-color: var(--background-color2, #c1c1c1);
}
.streamers__info {
  display: flex;
  align-items: center;
}
.streamers__name {
  align-items: center;
  max-width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color var(--transition-duration1, 0.25s) ease-out;
}
.streamers__name:hover {
  color: var(--color-blue, #45a5ff);
}
.streamers__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
.streamers__count {
  position: relative;
}
.streamers .streamers__count.streamers__count--active::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  left: -40%;
  top: 25%;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
}
@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.1;
  }
}

.about {
  height: 100px;
}
.about__inner {
  background-color: var(--border-color2, #dcdcdc);
  border-radius: 3px;
  font-size: var(--font-size2, 20px);
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 15px;
}
.about__text {
  margin: 10px;
}
.about__contacts {
  display: flex;
  justify-content: center;
}
.about__contact {
  margin: 10px;
}
.about__contact a {
  transition: color var(--transition-duration1, 0.25s) ease-out;
}
.about__contact a:hover {
  color: var(--color-blue, #45a5ff);
}

.section {
  float: right;
  width: calc(100% - var(--aside-width-regular, 230px));
  overflow-y: auto;
  height: 100%;
}

section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

section::-webkit-scrollbar-track {
  border-radius: 0;
}

section::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.main {
  padding-top: var(--header-height, 65px);
  height: 100vh;
}