*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: Grandstander, Sans-serif, Arial;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 15px 10px 15px;
}
.header i {
  cursor: pointer;
}

.header-logo {
  font-size: 2rem;
  color: var(--highlight-color, #f6af44);
}

.header-menu {
  font-size: 1.75rem;
  color: var(--background-color2, #c1c1c1);
  display: flex;
  align-items: center;
}
.header-menu i:last-child {
  color: var(--text-color, #000);
  font-size: 20px;
  margin-left: 30px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--highlight-color, #f6af44);
  position: relative;
}
.header-menu i:last-child::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.header-search {
  display: flex;
  align-items: center;
}

.header-search__bar {
  display: flex;
  align-items: center;
  position: relative;
}
.header-search__bar input {
  height: var(--font-size1, 32px);
  font-size: 1em;
  border: 1px solid var(--border-color1, #7e7e7e);
  border-radius: 3px;
  outline: none;
}
.header-search__bar i {
  background-color: var(--background-color2, #cecece);
  height: var(--font-size1, 32px);
  width: var(--font-size1, 32px);
  position: relative;
  transform: translateX(-100%);
  border: 1px solid var(--border-color1, #7e7e7e);
  border-radius: 3px;
}
.header-search__bar i::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

:root {
  --text-color: #000;
  --background-color1: #fff;
  --background-color2: #c1c1c1;
  --background-color3: #efefef;
  --border-color1: #7e7e7e;
  --highlight-color: #f6af44;
  --font-size1: 32px;
  --font-size1: 32px;
}