.carousel {
  width: 75%;
  margin: 60px auto 70px auto;
  height: 335px;
}

.card-inner {
  box-shadow: 0px 6px 6px 4px rgb(34 60 80 / 20%);
  display: grid;
  grid-template-columns: 6fr 2fr;
  height: 100%;



  .video-container__info {
    margin-bottom: 20px;
    display: grid;
    gap: 0 5px;
    grid-template-columns: 35px 1fr;
    grid-template-rows: repeat(4, 10px);
  }

  .video-container__image {
    height: 335px;
  }

  .card__info {
    background-color: var(--background-color3, #efefef);
    padding: 20px 10px;

  }

  // .card__info

  &__info {}

  // .card__descriptons

  &__descriptons {
    opacity: 0.7;
  }
}



input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-29%) scale(0.8);
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(29%) scale(0.8);
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #song-1 .card-inner, #item-2:checked ~ .cards #song-2 .card-inner, #item-3:checked ~ .cards #song-3 .card-inner {
  box-shadow: 0px 6px 8px 6px rgb(34 60 80 / 40%);

}
