:root {
  --text-color: #000;
  --color-blue: #45a5ff;
  --background-color1: #fff;
  --background-color2: #c1c1c1;
  --background-color3: #efefef;
  --border-color1: #7e7e7e;
  --border-color2: #dcdcdc;
  --border-width1: 1px;
  --border-width2: 2px;
  --highlight-color: #f6af44;
  --font-size1: 32px;
  --font-size2: 20px;
  --header-height: 65px;
  --aside-width-regular: 250px;
  --aside-width-light: 80px;
  --transition-duration1: 0.3s;
  --font-size-normal: 18px;
  --font-size-large: 32px;
}