:root {
  --text-color: #000;
  --background-color1: #fff;
  --background-color2: #c1c1c1;
  --background-color3: #efefef;
  --border-color1: #7e7e7e;
  --highlight-color: #f6af44;
  --font-size1: 32px;
  --font-size1: 32px;

}