:root {
  --text-color: #000;
  --background-color1: #fff;
  --background-color2: #c1c1c1;
  --background-color3: #efefef;
  --border-color1: #7e7e7e;
  --border-color2: #dcdcdc;
  --border-width1: 1px;
  --border-width2: 2px;
  --highlight-color: #f6af44;
  --font-size1: 32px;
  --font-size2: 20px;
  --header-height: 65px;
  --transition-duration1: 0.25s;
}